* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
}

header {
  background-color: #7f7f7f;
  padding: 20px;
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  padding-top: 5rem;
}

nav li {
  margin: 0 10px; /* 左右に10pxのマージン */
}

nav a {
  text-decoration: none;
  color: #333;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

img {
  max-width: 150px;
  height: auto;
}

/* モーダルスタイル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.notification-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /*他の要素よりも手前に表示*/
}

.notification {
  background-color: #f0f0f0;
  padding: 10px;
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.notification {
  /* ... */
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s, transform 0.5s;
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}